button{
    width: 150px;
    height: 50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
background-color: gray;
}
input{
    width: 90px;
    height: 25px;
    

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.resultado, .resultado1, .resultado3, .resultado2{
    border-radius: 5px;
border: 1px solid gray;
background-color: white;
width: 170px;
height: 20px;
padding: 10px;
}
.layout{
    padding: 15px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.left{ 
   display: flex;
   justify-content: center;
   align-items: left;
   width: 200px;
   flex-direction: column;
  
}
.xn{
    margin: 0 10px;
}